.cartContainer {
  @include flex(column, initial, center, center);
  gap: 16px;
  width: 900px;
  margin: 40px auto 0 auto;

  .cartProduct {
    width: 100%;
    display: grid;
    gap: 0px;
    grid-template-columns: 65% auto auto;
    align-items: center;
    justify-items: start;
    justify-content: space-between;
    background-color: $darkmain;
    border-radius: 8px;
    overflow: hidden;

    .link {
      text-decoration: none;
      color: #ccc;

      &:hover {
        color: #fff;
        transition: all 0.3s;
      }
    }

    figure {
      @include flex(initial, initial, center, center);
      gap: 10px;
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    .quantityContainer {
      @include flex(initial, initial, initial, initial);
      gap: 10px;
      user-select: none;
      .sum,
      .rest {
        padding: 0 10px;
        font-size: 1.6rem;
        background: none;
        color: #ccc;
        outline: 1px solid #aaa;
        cursor: pointer;
        font-weight: 800;
        border: none;
        border-radius: 6px;

        &:hover {
          filter: brightness(110%);
          transition: all 0.2s;
        }
      }

      .quantity {
        width: 16px;
        @include flex(row, initial, center, center);
        font-size: 1.2rem;
      }

      .delete {
        padding: 7px 10px;
        margin-right: 10px;
        background: rgb(148, 35, 35);
        color: #ccc;
        border: none;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
          filter: brightness(110%);
          transition: all 0.2s;
        }
      }
    }

    h2 {
      width: 100px;
      font-size: 1.3rem;
    }
  }

  .deleteAll {
    align-self: flex-start;
    font-weight: 100;
    font-size: 0.8rem;
    text-decoration: underline;
    cursor: pointer;
    color: $lightmain;
    filter: brightness(300%);
    user-select: none;

    &:hover {
      filter: brightness(350%);
      transition: all 0.2s;
    }
  }

  .total {
    width: 100%;
    @include flex(column, initial, center, center);
    gap: 2px;
    h2 {
      color: $titles;
      font-size: 1rem;
    }
    .price {
      font-size: 2rem;
      font-weight: 800;
    }

    button {
      margin-top: 10px;
      width: 20%;
      outline: none;
      border: none;
      padding: 10px;
      background: rgb(15, 85, 15);
      color: #ddd;
      cursor: pointer;
      font-weight: 800;
      border-radius: 6px;

      &:hover {
        filter: brightness(110%);
        transition: all 0.2s;
      }
    }
  }
}
