.checkoutContainer {
  animation: transitionZoom linear 0.4s;
  @include flex(column, initial, center, center);
  gap: 30px;
  max-width: 650px;
  margin: 30px auto 500px auto;

  .productsToBuy {
    @include flex(column, initial, center, initial);
    outline: solid 5px rgba(19, 33, 65, 0.233);
    border-radius: 5px;

    h1 {
      margin: 10px auto 10px auto;
      color: $titles;
    }

    .product {
      @include flex(initial, initial, initial, center);
      gap: 10px;
      padding: 0 10px 0px 5px;
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        padding: 5px 5px 5px 5px;
        margin: 4px 0;
        pointer-events: none;
        border-radius: 10px;
      }
      .title {
        font-size: 0.7rem;
        width: 120px;
      }
      span {
        @include flex(initial, initial, center, center);
        background-color: $lightmain;
        padding: 5px;
        border-radius: 5px;
        height: 25px;
        width: 25px;
      }
    }

    .totalPrice {
      @include flex(initial, initial, center, center);
      padding: 10px;
      gap: 6px;
      .totalText {
        color: $titles;
        font-size: 1rem;
      }
      .totalNumber {
        font-size: 1.3rem;

        &::first-letter {
          font-size: 1rem;
          margin-right: 2px;
        }
      }
    }
  }

  form {
    @include flex(column, initial, initial, center);
    gap: 10px;
    width: 250px;
    input {
      width: 100%;
      background-color: rgba(13, 28, 58, 0.479);
      border: none;
      padding: 10px;
      color: #ccc;
      border-radius: 3px;
      transition: all 0.3s;

      &:focus {
        outline: none;
        transition: all 0.3s;
      }
      &::placeholder {
        font-size: 0.9rem;
        color: #666;
        transition: all 0.3s;
      }
      &:focus::placeholder {
        filter: brightness(50%);
        transition: all 0.3s;
      }
    }
    button[type="submit"] {
      @include btnGreen;
      width: 100%;
    }
    button {
      @include btnGray;
      width: 100%;
      margin: 0;
    }
  }
}

.checkoutContainer .productsToBuy .color:nth-child(2n) {
  background-color: rgba(19, 33, 65, 0.233);
}
