.banner {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  opacity: 0.8;
  animation: transitionLeft 0.3s linear;
}

.categoryTitle {
  animation: transitionZoom 0.3s linear;
  width: fit-content;
  margin: 40px auto 0px auto;
  color: $titles;
}

.products {
  animation: transitionZoom 0.3s linear;
  margin-top: 40px;
  margin-bottom: 100px;
  @include flex(row, wrap, center, flex-start);
  gap: 30px;

  .product {
    @include flex(column, initial, initial, initial);
    overflow: hidden;
    width: 300px;
    border-radius: 10px;
    user-select: none;

    figure {
      @include flex(column, initial, initial, center);
      position: relative;
      outline: green 2px solid;
      width: 100%;
      height: 100%;
      background: $darkmain;

      &::before {
        content: " ";
        position: absolute;
        z-index: 10;
        bottom: 0;
        width: 50%;
        height: 65px;
        background-color: #4478e767;
        filter: blur(50px);
      }

      img {
        border: solid 20px $darkmain;
        border-radius: 30px 30px 0 0;
        border-bottom: none;
        position: relative;
        z-index: 20;
        width: 100%;
        height: 200px;
        object-fit: cover;
        pointer-events: none;
      }

      p {
        display: none;
      }

      figcaption {
        text-align: center;
        position: relative;
        z-index: 20;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 10px;
        color: #fff;
      }

      button {
        position: relative;
        z-index: 20;
        margin-bottom: 16px;
        margin-top: 10px;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        background: rgb(15, 21, 39);
        color: #ddd;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          filter: brightness(110%);
          transition: all 0.2s;
        }
      }
    }
  }
}
